[Desktop Entry]

Type=Application
Name=ulauncher
Comment=An app launcher
Path=/run/current-system/sw/bin
Exec=env GDK_BACKEND=x11 ulauncher
Terminal=false
